.footer{
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  color: gray;
  margin: 40px;

}
.t1{
    display: inline;
    margin:20px ;
    bottom: 0;


}
.t2{
      display: inline;
      margin: 20px;


}