.footer{
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  color: gray;
  margin: 40px;

}
.t1{
    display: inline;
    margin:20px ;
    bottom: 0;


}
.t2{
      display: inline;
      margin: 20px;


}


/* 
Mobile view */

@media screen and (max-width: 768px) {
  
  .footer {
    height: auto;           /* Removes fixed height so content fits */
    margin: 20px 0;         /* Removes side margins to prevent horizontal scrolling */
    padding: 20px;          /* Adds internal space */
    text-align: center;     /* Centers the text */
    
    /* Optional: Ensure padding doesn't increase width */
    box-sizing: border-box; 
  }

  .t1, .t2 {
    display: block;         /* Stacks the text vertically instead of side-by-side */
    margin: 10px 0;         /* Adds space between the two lines */
  }
  
}